.footer__column-link_icon_instagram::before {
  content: '';
  width: 16px;
  height: 16px;
  display: flex;
  align-self: center;
  margin-right: 10px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-image: url('../../../../images/instagram_color_white.svg');
}
