.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  overflow: hidden;
}
/* HEADER */

.header {
  position: relative;
  align-items: center;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.logo {
  background-image: url('../images/logo_place_header.svg');
  background-repeat: no-repeat;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
}

.header__title {
  margin: 0;
  display: inline-block;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  transition: opacity .25s ease-in-out;
}

.header__link:hover {
  opacity: .5;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

.rotation {
  animation: rotation 20s infinite linear;
}

/* END OF HEADER */

/* TECHNIQUES */

.techniques {
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  margin: 0;
  padding: 0;
  width: 920px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  list-style: none;
}

.cards__item {
  margin: 60px 0 0 0;
}

.cards__image {
  margin: 0 40px 43px 40px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.cards__title {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.cards__description {
  margin: 16px 0 0 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}


/* END OF TECHNIQUES */

/* VIDEO */

.video {
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  margin-top: 50px;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin: 10px;
}

/* END OF VIDEO */

/* OAKLEY */

.oakley {
  padding: 160px 0 0 0;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

/* END OF OAKLEY */

/* KHAN */

.khan{
  padding: 105px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  margin: 50px 0 36px 0;
  max-width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.khan__quote-author {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin: 10px 0 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 400;
}

.khan__book-container {
  margin: 68px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  background-color: red;
  object-fit: cover;
  object-position: top center;
}

.khan__buy-link {
  margin: 0 0 0 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity .25s ease-in-out;
}

.khan__buy-link:hover {
  opacity: .5;
}

/* END OF KHAN */

/* DESCRIPTION */

.description {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__space-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* END OF DESCRIPTION */

/* DIGITS */

.digits {
  padding: 100px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}

.section-subtitle {
  margin: 20px 0 0 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  z-index: 1;
}

.table {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  width: 1100px;
}

.table__cell {
  margin: 60px 0 0 0;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

/* END OF DIGITS */

/* FEYNMAN */

.feynman {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 790px;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  background-color: #f2f2f2;
}

.feynman__title {
  margin: 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 70px 0 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .25s ease-in-out;
}

.feynman__link:hover {
  opacity: .5;
}

/* END OF FEYNMAN */

/* KAUFMAN */

.kaufman {
  padding: 90px 0 90px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
}

.content_section_offset_theme_dark {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  color: white;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 0;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: contain;
}

/* END OF KAUFMAN */

/* RESOURCES */

.resources {
  padding: 100px 0 217px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  margin: 80px 0 0 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.resources__logo {
  width: 270px;
  height: 38px;
  transition: opacity .25s ease-in-out;
}

.resources__logo:hover {
  opacity: .5;
}

/* END OF RESOURCES */

/* FOOTER */

.footer {
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer_section_offset {
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-self: start;
}

.footer__column_content_copyright {
  align-self: stretch;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 711px;
}

.footer__column_content_info {
  padding-bottom: 16px;
}

.footer__column_content_social {
  padding-bottom: 16px;
}

.logo_place_footer {
  position: relative;
  width: 183px;
  height: 35px;
  background-image: url('../images/logo_place_footer.svg');
}

.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  color: #fff;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__column-link {
  display: inline-flex;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: opacity .25s ease-in-out;
}

.footer__column-link:hover{
  opacity: .5;
}

.footer__social-icon::before {
  content: '';
  width: 16px;
  height: 16px;
  display: flex;
  align-self: center;
  margin-right: 10px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.footer__column-link_icon_facebook::before {
  content: '';
  width: 16px;
  height: 16px;
  display: flex;
  align-self: center;
  margin-right: 10px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-image: url('../images/facebook_color_white.svg');
}

.footer__column-link_icon_vk::before {
  content: '';
  width: 16px;
  height: 16px;
  display: flex;
  align-self: center;
  margin-right: 10px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-image: url('../images/vk_color_white.svg');
}

.footer__column-link_icon_instagram::before {
  content: '';
  width: 16px;
  height: 16px;
  display: flex;
  align-self: center;
  margin-right: 10px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-image: url('../images/instagram_color_white.svg');
}

/* END OF FOOTER */


/* ANIMATIONS */

@keyframes rotation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* END OF ANIMATIONS */
